body {
	font-family: Ariual, Helvetica, sans-serif;
	line-height: 1.6;
	margin: 20px;

}

h1 {
	color: #800000 ;
}

h2 {
	color: #A0522D;
}

h3 {
	color: #CD5C5C;
}

p {
	color: black;
	line-height: 1.6;
}

nav ul {
	list-style-type: none;
	padding: 0;

}

nav li {
	display: inline;
	margin-right: 15px;
}

nav ul li a {
	text-decoration: none;
	color: blue;
}

nav ul li a:hover {
	color: darkblue;
}

.legenda-naslov {
	margin-top: 25px;
	font-weight: normal;
}

.legenda-tekst {
	margin-left: 30px;
	font-style: italic;
	line-height: 1.6;
}

.slika {
	width: auto;
	height: auto;
	border: 2px solid black;
	margin: 10px 0;
}

video, audio {
	display: block;
	margin: 10 px 0;
	max-width: 100%;
}
body {
	background-color: #FFF8DC;
	opacity: 1;
}
